# # Firebase Configuration
# VITE_FIREBASE_API_KEY=your-api-key
# VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
# VITE_FIREBASE_PROJECT_ID=your-project-id
# VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
# VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
# VITE_FIREBASE_APP_ID=your-app-id
# VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id

# # MongoDB Configuration
# VITE_MONGODB_URI=mongodb://localhost:27017/PayPeek

# # Google Cloud Storage Configuration
# VITE_GCS_PROJECT_ID=your-gcs-project-id
# VITE_GCS_BUCKET_NAME=your-gcs-bucket-name
# VITE_GCS_CLIENT_EMAIL=your-gcs-client-email
# VITE_GCS_PRIVATE_KEY=your-gcs-private-key